body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

#container div{
    text-align: center;
    width: 100px;
    height: 100px;
}
.red {
    color: red;

}
.font-large {
    font-size: 6rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;

    /* flex-direction: column;
    justify-content: start; */
   /*  align-items: end; */
    /* padding: 1rem; */
}

/* .div-1 {
    align-self: end;
}
.div-2 {
    align-self: center;
}*/
.div-3 {
    flex: 3;
} 
